.chatlist{
    display: flex;
    padding: 20px;
    border-bottom: 0.3px solid #f6f6f6;
    cursor: pointer;
}

.chatlist:hover{
    background-color: #ebebeb;
}

.chatInfo{
    margin-left: 12px;
}

.chatInfo > h2{
    font-size: 16px;
    margin-bottom: 0px;
}

a{
    color: black;
    text-decoration: none;
}